.content {
    max-width: 768px; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 2em;
}

.pure-card {
  border: 1px solid #777;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

