<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- PureCSS stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/3.0.0/pure-min.css"
        integrity="sha512-X2yGIVwg8zeG8N4xfsidr9MqIfIE8Yz1It+w2rhUJMqxUwvbVqC5OPcyRlPKYOw/bsdJut91//NO9rSbQZIPRQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <style>
        .custom-menu-wrapper {
            background-color: #808080;
            margin-bottom: 2.5em;
            white-space: nowrap;
            position: relative;
        }
        .pure-menu-link {
            color: white;
        }
    </style>
    <div class="custom-menu-wrapper">
    <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="{{ url_for('index') }}" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="{{ url_for('new_event_form') }}" class="pure-menu-link">New Event</a>
            </li>
            <li class="pure-menu-item"><a href="{{ url_for('view_events') }}" class="pure-menu-link">View Events</a>
            </li>
        </ul>
    </div>

    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <!-- footer content here -->
    </footer>
</body>

</html>