{% extends "base.html" %}


{% block title %}Home{% endblock %}

{% block content %}
<div class="content">
    <div class="splash">
        <h1 class="splash-head">Cello</h1>
    </div>

    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <a href="{{ url_for('new_event_form') }}" class="pure-button pure-button-primary">Create Event</a>
    </div>
    <br><br>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <a href="{{ url_for('view_events') }}" class="pure-button pure-button-primary">View Events</a>
    </div>
</div>
{% endblock %}