{% extends "base.html" %}

{% block title %} Event Scheduled {% endblock %}

{% block content %}
<div class="content">
    <div class="pure-u-1">
        <div class="pure-card">
            <div class="pure-card-body">
                <h2 class="pure-card-heading">{{ event.name }}</h2>
                <p>Date: {{ event.blocks[-1].slots[0].start.date().strftime('%A, %b %d, %Y') }}</p>
                <p>Time: {{ event.blocks[-1].slots[0] }}</p>
            </div>
        </div>
        <a href="{{ url_for('view_events') }}" class="pure-button pure-button-primary">All Events</a>
        <a href="{{ event.blocks[-1].slots[0].link }}" class="pure-button pure-button-primary">View in Calendar</a>
    </div>
</div>
{% endblock %}