{% extends "base.html" %}

{% block title %}
    New Event
{% endblock %}

{% block content %}
    <div class="content">
        <form id="myForm" class="pure-form pure-form-aligned" action="/addEvent" method="post">
            <legend><h1>New Event Details</h1></legend>
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" placeholder="super important event" required><br>
            <br>

            <label>Days of the Week:</label><br>
            <label class="pure-checkbox"><input type="checkbox" name="Mon" /> Monday</label>
            <label class="pure-checkbox"><input type="checkbox" name="Tue" /> Tuesday</label>
            <label class="pure-checkbox"><input type="checkbox" name="Wed" /> Wednesday</label>
            <label class="pure-checkbox"><input type="checkbox" name="Thu" /> Thursday</label>
            <label class="pure-checkbox"><input type="checkbox" name="Fri" /> Friday</label>
            <label class="pure-checkbox"><input type="checkbox" name="Sat" /> Saturday</label>
            <label class="pure-checkbox"><input type="checkbox" name="Sun" /> Sunday</label>

            <fieldset class="pure-group">
                <label for="start_time">Earliest Start Time:</label><br>
                <input type="time" id="start_time" name="start_time" value="09:00" required><br>

                <label for="end_time">Latest End Time:</label><br>
                <input type="time" id="end_time" name="end_time" value="17:00" required><br>

                <label for="duration">Duration (defaults to Minutes or use any format (i.e. 5h) ):</label><br>
                <input type="text" id="duration" name="duration" placeholder="5h, 90m, 4d, etc" required><br>
            </fieldset>

            <label for="location">Location:</label><br>
            <input type="text" id="location" name="location"><br>
            <br>

            <label for="description">Description:</label><br>
            <textarea id="description" name="description" cols="60" rows="5"></textarea><br>
            <br>

            <button type="submit" class="pure-button pure-button-primary" onclick="submitForm()">Submit</button>
        </form>
    </div>

    <script>
        function submitForm() {
            document.getElementById("myForm").action = "/addEvent";
            document.getElementById("myForm").submit();
        }
    </script>
{% endblock %}