{% extends 'base.html' %}

{% block content %}
<div class="pure-g content">
  <h1>Events</h1>
  {% for event in events.values() %}
  <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
    <div class="pure-card">
      <div class="pure-card-body">
        <h2 class="pure-card-heading">{{ event.name }}</h2>
        <p><strong>Days of the week:</strong>
          {% for day in event.days_of_week %}
          {{ day }}
          {% if not loop.last %}, {% endif %}
          {% endfor %}
        </p>
        <p><strong>Time Range:</strong>
          {{ event.time_range[0].strftime('%I:%M %p') }} - {{ event.time_range[1].strftime('%I:%M %p') }}
        </p>

        <!--TODO: set duration to show in best units-->
        <p><strong>Duration:</strong>
          {{ event.duration.total_seconds() // 60 }} minutes
        </p>

        <p><strong>Location:</strong> {{ event.location }}</p>
        <a href="{{ event.blocks[0].slots[0].link }}" class="pure-button pure-button-primary" target="_blank">View Next Upcoming</a>
        <a href="{{ url_for('schedule', event_id=event.id) }}" class="pure-button pure-button-primary">Add Another Time</a>
      </div>

    </div>
  </div>

  {% endfor %}

</div>
{% endblock %}